.avatar-multi-two-button .avatar {
  background-image: url('../images/avatar.jpg');
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  display: inline-block;
  height: 40px;
  vertical-align: middle;
  width: 40px;
}

.avatar-multi-two-button .list-item {
  display: inline-block;
  margin: 0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
  width: 55%;
}

.avatar-multi-two-button .primary-text {
  font-size: 16px;
  font-weight: 600;
}

.avatar-multi-two-button .secondary-text {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.avatar-multi-two-button .button-wrapper {
  display: inline-block;
  vertical-align: middle;
}