/*---------common------*/
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/*------list--------*/

.infratab-list {
  height: auto !important;
  width: 100% !important;
}

.infratab-list .webix_list_item {
  height: auto !important;
  padding: 8px 16px;
  position: relative;
  width: auto !important;
}  

/*------tabbar------*/

.infratab-tabbar {
  height: auto !important;
  width: 100% !important;
  background-color: transparent !important;
  border: 0 !important;
}

/*----button-------*/
.infratab-btn {
  width: auto !important;
  height: auto !important;
}

.infratab-btn .webix_el_box {
  width: auto !important;
  height: auto !important;
 }
 .infratab-btn button {
   width: auto ;
 }


