/*------list--------*/

.infratab-list {
  height: auto !important;
  width: 100% !important;
}

.infratab-list p {
  margin: 0;
}

.infratab-list .webix_list_item {
  height: auto !important;
  padding: 8px 16px;
  position: relative;
  width: auto !important;
}  
