/*---------common------*/
* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/*------list--------*/

.infratab-list {
  height: auto !important;
  width: 100% !important;
}

.infratab-list .webix_list_item {
  height: auto !important;
  padding: 8px 16px;
  position: relative;
  width: auto !important;
}  

/*------tabbar------*/

.infratab-tabbar {
  height: auto !important;
  width: 100% !important;
  background-color: transparent !important;
  border: 0 !important;
}

/*----button-------*/
.infratab-btn {
  width: auto !important;
  height: auto !important;
}

.infratab-btn .webix_el_box {
  width: auto !important;
  height: auto !important;
 }

 .infratab-btn button {
   width: auto !important;
 }


/*-----input text------*/
.infratab-input {
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}

.infratab-input .webix_el_box {
  width: auto !important;
  height: auto !important;
}

.infratab-input .webix_el_box label {
  width: auto !important;
  height: auto !important;
}

.infratab-input .webix_el_box input {
  width: auto !important;
  height: auto !important;
  padding: 5px 10px !important;
  outline: none;
}

/*----select------*/
.infratab-select {
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}

.infratab-select .webix_el_box {
  width: auto !important;
  height: auto !important;
}

.infratab-select .webix_el_box label {
  width: auto !important;
  height: auto !important;
}

.infratab-select .webix_el_box select {
  width: auto !important;
  height: auto !important;
}

/*------text area-------*/
.infratab-textarea {
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}

.infratab-textarea .webix_el_box {
  width: auto !important;
  height: auto !important;
}

.infratab-textarea .webix_el_box label {
  width: auto !important;
  height: auto !important;
}

.infratab-textarea .webix_el_box textarea {
  width: auto !important;
  height: auto !important;
}

/*----counter -----*/
.infratab-counter {
  width: auto !important;
  height: auto !important;
  margin: 0 !important;
}

.infratab-counter .webix_el_box label {
  width: auto !important;
  height: auto !important;
}

/*----dropdown-----*/
.infratab-dropdown {
  width: auto !important;
  height: auto !important;
} 

.infratab-dropdown .webix_el_box {
  width: auto !important;
  height: auto !important;
}

.infratab-dropdown .webix_el_box label {
  width: auto !important;
  height: auto !important;
}

.infratab-dropdown .webix_el_box input {
  width: auto !important;
  height: auto !important;
  padding: 5px 10px !important;
}

.infratab-dropdown .webix_el_box .webix_input_icon{
  float: none !important;
  position: relative;
}




