.line-two-button .list-item {
  display: inline-block;
  float: left;
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
}

.line-two-button .button-wrapper {
  float: right;
}

.line-two-button .button {
  background: transparent;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  line-height: 32px;
  outline: none;
  padding: 0 16px;
  text-align: center;
  text-transform: uppercase;
}

.line-two-button .primary-line {
  border-color: #1ABC9C;
  color: #1ABC9C;
}

.line-two-button .danger-line {
  border-color: #E74C3C;
  color: #E74C3C;
}

.line-two-button .primary-line:hover {
  background-color: #1ABC9C;
  color: #fff;
}

.line-two-button .danger-line:hover {
  background-color: #E74C3C;
  color: #fff;
}
