.tab-bar {

}

.tab-bar .webix_view {
  background-color: #fff !important;
  border: none !important;
  border-radius: 0 !important;
  margin: 15px auto 0 auto;
  white-space: nowrap;
  width: 100%;
}

.tab-bar .webix_before_all_tabs {
  height: 0 !important;
}

.tab-bar .webix_tab_filler {
  width: 0 !important;
}

.tab-bar .webix_item_tab {
  background-color: #fff !important;
  color: #444 !important;
  border-radius: 0 !important;
  border: 0 !important;
}

.tab-bar .webix_after_all_tabs {
  background-color: #fff !important;
  height: 0 !important;
}

.tab-bar .webix_scroll_cont {
  border: 1px solid #ddd;
}

.tab-bar .webix_template {
  border: 1px solid #ddd;
}

.tab-bar .webix_all_tabs {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.10), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.10), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
  margin: 2px;
}

.tab-bar .webix_item_tab.webix_selected {
  border-bottom: 2px solid #EE6E73 !important;
  outline: none;
}