<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../../css/webix.css">
		<link rel="stylesheet" type="text/css" href="../../css/component.css">
		<script src="../../js/webix.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript" src="../common/testdata.js"></script>
		<title>List</title>
	</head>
	<style type="text/css">
		#listA {
			float:left; 
			width: 30%;
			margin-left: 20px;
		}
	</style>
	<body>
		<div id="listA">Single Line List</div>

		<script type="text/javascript" charset="utf-8">
			webix.ui({
				container:"listA",
				view:"list",
				css: "infratab-list single-line-list",
				template:"#rank#. #title#",
				select:"multiselect",
				data:big_film_set
			});
		</script>
	</body>
</html>