<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/webix.css">
    <link rel="stylesheet" type="text/css" href="../../css/avatar-multi-two-button.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
     <link rel="stylesheet" type="text/css" href="../../css/button-direct.css">
    <script src="../../js/webix.js" type="text/javascript" charset="utf-8"></script>
    <title>List</title>
  </head>
  <style type="text/css">
    #listC{
      float:left; 
      width: 50%;
      margin-left: 20px;
    }
  </style>
  <body>
    <div id="listC">Avatar with Multi line list with Two Button</div>

    <script type="text/javascript" charset="utf-8">
      webix.ui({
        container:"listC",
        view:"list",
        css: "infratab-list avatar-multi-two-button",
        template:"<span class='avatar'></span><div class='list-item'><p class='primary-text'>#primary#</p><p class='secondary-text'>#secondary#</p></div><div class='button-wrapper'><button class='btn-outline btn-outline-primary'>#option1# </button><button class='btn-outline btn-outline-danger'>#option2# </button></div>",
        data: [
         {primary:'John snow', secondary: 'Add members in data list to make it more readbale for the user?', option1: 'Add', option2: 'deny'},
         {primary:'John snow', secondary: 'Add data in current section, Add data in current section ?', option1: 'Accept', option2: 'reject'},
         {primary:'John snow', secondary: 'Add filter to fetch data of choice ?', option1: 'make owner', option2: 'remove'},
         {primary:'John snow', secondary: 'Add members to update list ?', option1: 'allow', option2: 'deny'},
         {primary:'John snow', secondary: 'Add icon in list to make it more readable, Add icon in list to make it more readable ?', option1: 'accpet', option2: 'reject'},
         {primary:'John snow', secondary: 'Add section to previous section ?', option1: 'reinvite', option2: 'cancel'},
         {primary:'John snow', secondary: 'Add members in data list ?', option1: 'invite', option2: 'cancel'}
        ]
      });

    </script>
  </body>
</html>