<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/webix.css">
    <link rel="stylesheet" type="text/css" href="../../css/avatar-single-one-button.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <link rel="stylesheet" type="text/css" href="../../css/button-direct.css">
    <script src="../../js/webix.js" type="text/javascript" charset="utf-8"></script>
    <title>List</title>
  </head>
  <style type="text/css">
    #listC{
      float:left; 
      width: 30%;
      margin-left: 20px;
    }
  </style>
  <body>
    <div id="listC">Avatar with Single line list with one Button</div>

    <script type="text/javascript" charset="utf-8">
      webix.ui({
        container:"listC",
        view:"list",
        css: "infratab-list avatar-single-one-button",
        template:"<span class='avatar'></span><p class='list-item'>#title#</p><div class='button-wrapper'><button class='btn-outline btn-outline-primary'>#option# </button></div>",
        data: [
         {title: 'Add members in data list to make it more readbale for the user?', option: 'Add'},
         {title: 'Add data in current section, Add data in current section ?', option: 'Add'},
         {title: 'Add filter to fetch data of choice ?', option: 'Add'},
         {title: 'Add members to update list ?', option: 'Add'},
         {title: 'Add icon in list to make it more readable, Add icon in list to make it more readable ?', option: 'Add'},
         {title: 'Add section to previous section ?', option: 'Add'},
         {title: 'Add members in data list ?', option: 'Add'}
        ]
      });

    </script>
  </body>
</html>