<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/webix.css">
    <link rel="stylesheet" type="text/css" href="../../css/avatar-single-two-button.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <link rel="stylesheet" type="text/css" href="../../css/button-direct.css">
    <script src="../../js/webix.js" type="text/javascript" charset="utf-8"></script>
    <title>List</title>
  </head>
  <style type="text/css">
    #listC{
      float:left; 
      width: 50%;
      margin-left: 20px;
    }
  </style>
  <body>
    <div id="listC">Avatar with Single line list with Two Button</div>

    <script type="text/javascript" charset="utf-8">
      webix.ui({
        container:"listC",
        view:"list",
        css: "infratab-list avatar-single-two-button",
        template:"<span class='avatar'></span><p class='list-item'>#title#</p><div class='button-wrapper'><button class='btn-outline btn-outline-primary'>#option1# </button><button class='btn-outline btn-outline-danger'>#option2# </button></div>",
        data: [
         {title: 'Add members in data list to make it more readbale for the user?', option1: 'Add', option2: 'remove'},
         {title: 'Add data in current section, Add data in current section ?', option1: 'Accept', option2: 'reject'},
         {title: 'Add filter to fetch data of choice ?', option1: 'Addition', option2: 'rejection'},
         {title: 'Add members to update list ?', option1: 'Make owner', option2: 'remove'},
         {title: 'Add icon in list to make it more readable, Add icon in list to make it more readable ?', option1: 'accept', option2: 'reject'},
        ]
      });

    </script>
  </body>
</html>