<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/webix.css">
    <link rel="stylesheet" type="text/css" href="../../css/line-one-button.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <script src="../../js/webix.js" type="text/javascript" charset="utf-8"></script>
    <title>List</title>
  </head>
  <style type="text/css">
    #listC{
      float:left; 
      width: 30%;
      margin-left: 20px;
    }
  </style>
  <body>
    <div id="listC">Single line list with one Button</div>

    <script type="text/javascript" charset="utf-8">
      webix.ui({
        container:"listC",
        view:"list",
        css: "infratab-list line-one-button",
        template:"<p class='list-item'>#title#</p><button class='button'><i class='button-icon'></i>#option# </button>",
        data: [
         {title: 'Add members in data list ?', option: 'Add'},
         {title: 'Add data in current section ?', option: 'Add'},
         {title: 'Add filter to fetch data of choice ?', option: 'Add'},
         {title: 'Add members to update list ?', option: 'Add'},
         {title: 'Add icon in list to make it more readable ?', option: 'Add'},
         {title: 'Add section to previous section ?', option: 'Add'},
         {title: 'Add members in data list ?', option: 'Add'}
        ]
      });

    </script>
  </body>
</html>