<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../../css/webix.css">
    <link rel="stylesheet" type="text/css" href="../../css/single-list-badge.css">
    <link rel="stylesheet" type="text/css" href="../../css/component.css">
    <script src="../../js/webix.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="../common/testdata.js"></script>
    <title>List</title>
  </head>
  <style type="text/css">
    #listC{
      float:left; 
      width: 30%;
      margin-left: 20px;
    }
  </style>
  <body>
    <div id="listC">Single line list with badge</div>

    <script type="text/javascript" charset="utf-8">
      webix.ui({
        container:"listC",
        view:"list",
        css: "infratab-list single-line-list",
        scheme:{
          $init:function(obj){
            if (obj.year>=2000) obj.$css = "newtime";
            if (obj.year<=1970) obj.$css = "oldtime";
          }
        },
        template:"<span class='badge'>#votes# </span> <p class='list-item'>#rank#. #title#</p>",
        select:true,
        data:webix.copy(big_film_set)
      });

    </script>
  </body>
</html>