<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../../css/webix.css" type="text/css"   charset="utf-8">
		<link rel="stylesheet" href="../../../css/component.css" type="text/css" charset="utf-8">
		<link rel="stylesheet" href="../../../css/button.css" type="text/css" charset="utf-8">
		<script src="../../../js/webix.js" type="text/javascript" charset="utf-8"></script>
		<style>
			#areaA{
				margin: 30px;
			}
		</style>
		<title>Text Input ('text')</title>
	</head>
	<body>

		<div id="areaA"></div>
	

		<script type="text/javascript" charset="utf-8">
		var form1 = [
			{ view:"text", value:'dummy@email.com', label:"Email", css:'infratab-input' },
			{ view:"text", type:'password', value:'123pass', label:"Password",css:'infratab-input'},
			{ cols:[
				{ view:"button", value:"Login" , type:"form", css:"infratab-btn btn" },
				{ view:"button", value:"Cancel",css:"infratab-btn btn btn-danger" }
			]}
		];

		webix.ui({
			container:"areaA",
			margin:30, cols:[
				{ margin:30, rows:[
					{ view:"form", scroll:false, width:300, elements: form1 },
				]}
			]
		});
		</script>
	</body>
</html>