<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../../css/webix.css" type="text/css"   charset="utf-8">
		<link rel="stylesheet" href="../../../css/component.css" type="text/css"   charset="utf-8">
		<link rel="stylesheet" href="../../../css/button.css" type="text/css"   charset="utf-8">
		<script src="../../../js/webix.js" type="text/javascript" charset="utf-8"></script>
		<style>
			#areaA{
				margin: 30px;
			}
		</style>
		<title>Select Box ('select')</title>
	</head>
	<body>

		<div id="areaA"></div>
	

		<script type="text/javascript" charset="utf-8">
		var form1 = [
			{ view:"select", label:"Version", options:["1.0", "1.5", "2.0"], css:'infratab-select' },
			{ view:"select", value: 2, label:"Branch", css:'infratab-select', options:[
				{ value:"Master", id:1 },
				{ value:"Release", id:2 }
			] },
			{ view:"button", value:"Confirm", css:'infratab-btn btn'}
		];

    var form7 = [
        { view:"label", label:"Serverside options", css:'infratab-select' },
        { view:"select", options:"server/data.json", label:"Fruit", value:2, css:'infratab-select'},
        { view:"select", options:"server/data.php", label:"Countries", css:'infratab-select' },
        { view:"button", value:"Confirm", css:'infratab-btn btn'}
    ];

		webix.ui({
			container:"areaA",
			margin:30, cols:[
				{ margin:30, rows:[
					{ view:"form", elements: form1 }
				]},
        {margin:30, rows:[
            { view:"form", elements: form7}
        ]}
			]
		});

		</script>
	</body>
</html>