<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../../css/webix.css" type="text/css"   charset="utf-8">
		<link rel="stylesheet" href="../../../css/infratab.style.css" type="text/css"   charset="utf-8">
		<script src="../../../js/webix.js" type="text/javascript" charset="utf-8"></script>
		<style>
			#areaA{
				margin: 30px;
				width: 500px;
			}
		</style>
		<title>Check Box ('checkbox')</title>
	</head>
	<body>

		<div id="areaA"></div>
	

		<script type="text/javascript" charset="utf-8">
		var form1 = [
			{ view:"checkbox", css:"infratab-checkbox", label:"First age"},
			{ view:"checkbox", css:"infratab-checkbox", label:"Second age", value:1 },
			{ view:"checkbox", css:"infratab-checkbox", labelRight:"Third age" },
			{ cols:[
				{ view:"checkbox", css:"infratab-checkbox", label:"val A"},
				{ view:"checkbox", css:"infratab-checkbox", label:"val B", value:1,
					uncheckValue:"off", checkValue:"on"
				},
				{ view:"checkbox", css:"infratab-checkbox", label:"val C" }
			]},

			{ view:"button", value:"Confirm", width:200, align:"center" }
		];


		webix.ui({
			container:"areaA",
			margin:30, cols:[
				{ view:"form", scroll:false, elements: form1 }
			]
		});
		</script>
	</body>
</html>