<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../../css/webix.css" type="text/css"   charset="utf-8">
		<link rel="stylesheet" href="../../../css/component.css" type="text/css"   charset="utf-8">
		<link rel="stylesheet" href="../../../css/button.css" type="text/css"   charset="utf-8">
		<script src="../../../js/webix.js" type="text/javascript" charset="utf-8"></script>
		
		<title>Button ('button')</title>
		<style>
			#data_container {
				width: 100%;
			}
			.webix_view {
				height: 100% !important;
			}
		</style>
	</head>
<body>
	<div id="data_container"></div>
<script>

var form1 = {
	view:"form", scroll:false,
	elements:[
		{ view:"button", type:"button", label:"Standard", css:"infratab-btn btn" },
		{ view:"button", type:"button", label:"primary button", css:"infratab-btn btn btn-primary" },
		{ view:"button", type:"button", label:"danger button", css:"infratab-btn btn btn-danger" },
		{ view:"button", type:"button", label:"large button", css:"infratab-btn btn btn-lg" },
		{ view:"button", type:"button", label:"Small button", css:"infratab-btn btn btn-sm" },
		{ view:"button", type:"button", label:"outline button", css:"infratab-btn btn-outline"},
		{ view:"button", type:"button", label:"flat button", css:"infratab-btn btn-flat"},
		{ view:"button", type:"button", label:"+", css:"infratab-btn btn-float"},
		{ view:"button", type:"button", label:"disabled", css:"infratab-btn btn-disabled"}
	]
};

webix.ui({
	container:"data_container",
	cols:[
		form1
	]
});
		
</script>
</body>
</html>