<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="../../../css/webix.css" type="text/css"   charset="utf-8">
		<script src="../../../js/webix.js" type="text/javascript" charset="utf-8"></script>
		<link rel="stylesheet" href="../../../css/infratab.style.css" type="text/css"   charset="utf-8">
		
		<title>Button ('button')</title>
	</head>
<body>
	<div id="data_container"></div>
<script>

var form1 = {
	view:"form", scroll:false,
	elements:[
		{ view:"button",  css:"infratab-btn",  label:"Standard" },
		{ view:"button",  css:"infratab-btn", label:"Form", type:"form" },
		{ view:"button",  css:"infratab-btn", label:"Danger", type:"danger" },
		{ view:"button",  css:"infratab-btn", label:"Prev", type:"prev" },
		{ view:"button",  css:"infratab-btn", label:"Next", type:"next" }
	]
}

webix.ui({
	container:"data_container",
	cols:[
		form1
	]
});
		
</script>
</body>
</html>